body,html{background-color: #1e1e1e;font-size:625%; }
p{font-size: 0.2rem}
ul,li{list-style: none;margin: 0;padding: 0;}
.mui-content{background-color: #1e1e1e;} 
.main{width: 100%;background: #fff;height: 100%;margin: 0% auto 0%;}
.floatLeft{float: left;}
.floatRight{float: right;}
.pe{pointer-events:none}
/* 头部 */
.nav{width: 100%;background: #f8f8f8;border-bottom: 1px solid #dadada;height: 80px;font-size: 14px;line-height: 80px;color: #9e9e9e;border-radius: 10px 10px 0 0;font-size: 0.2rem;}
.navClose{margin: 0 2rem 0 0.5rem;}
.control{margin: 0 0.3rem 0 0.3rem;}
.setting{margin: 0 0.3rem 0 0.3rem;}
.electricity{display:inline-block;width: 2rem;text-align: center;margin-left: 0.5rem;background-position: center;float: right;margin-right: 0.3rem;border: 1px solid #dadada;border-radius: 3px;background: #fff;line-height: 35px;margin-top: 22px;}
.electricity img {vertical-align: middle;padding:0 0.2rem 0 0;}
.navActive{color: #000;}
.navActive p{color: #000;}
/* 第二块区域 */
.secondPieces{width: 7rem;background: #fff;color: #9e9e9e;overflow: hidden;margin: 0.5rem auto;}
.carTitle{width: 1.55rem;float: left;font-size: 0.1rem;overflow: hidden;}
.carTitleUl{text-align: right;width: 100%;padding: 0;}
.carTitleUl li{width: 100%;}

.carTitleUl img {width: 1.35rem;padding-bottom: 5px;}
.carTitleUl p{font-size: 0.2rem;margin: 0;line-height: 0.5rem;}
.paadingRight10{padding-right: 0.1rem;}

/* 车门 */
.carBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: block;font-size:0.1rem; }
.carDoorLeft{width: 0.6rem;position: absolute;top: 3.7rem;left: 0.2rem;z-index: 2;}
.carDoorLeftClose{width: 0.6rem;position: absolute;top: 1.3rem;left: 0.2rem;z-index: 2;display: none;}
.carDoorLeft2{width: 0.6rem;position: absolute;top: 5.4rem;left: 0.5rem;z-index: 2;}
.carDoorRight{width: 0.6rem;position: absolute;top: 3.7rem;right: 0.2rem;z-index: 2;}
.carDoorRightClose{width: 0.6rem;position: absolute;top: 1.3rem;right: 0.2rem;z-index: 2;display: none;}
.carDoorRight2{width: 0.6rem;position: absolute;top: 5.4rem;right: 0.5rem;z-index: 2;}
.driver{font-size: 0.2rem;color:#000;position: absolute;bottom: 0.4rem;left: 0.45rem;}
.copilot{font-size: 0.2rem;color:#000;position: absolute;bottom: 0.4rem;right: 0.55rem;}
.car1{z-index: 0;}
.car2,.car3{z-index: 1;}
.car5{z-index: 2;}
.car1,.car2,.car3,.car5{width: 100%;position: absolute;top: 0px;left: 0;height: 5rem;background-image:url('../img/wish/trunk/houbeixiang0000.png') ;background-size: cover;background-repeat: no-repeat;background-position: center;padding-top: 0.5rem;}


.left_dotted{width: 0.6rem;position: absolute;top: 1.5rem;left: 0.2rem;display: none;}
.right_dotted{width: 0.6rem;position: absolute;top: 1.5rem;right: 0.2rem;display: none;}
.allClose{width: 2.2rem;position: absolute;bottom: 3.2rem;left: 1.6rem;z-index: 2;border: 1px solid #dadada;border-radius: 3px;background: #fff;padding: 0.1rem 0;color:#000;font-size: 0.2rem;}
.forward_box{font-size: 0.2rem;width: 2.2rem;position: absolute;bottom: 1.3rem;left: 1.6rem;z-index: 2;border: 1px solid #dadada;border-radius: 3px;background: #fff;padding: 0.1rem 0;color:#000;}
.trunk{font-size: 0.2rem;width: 2.2rem;position: absolute;bottom: 0.5rem;left: 1.6rem;z-index: 2;border: 1px solid #dadada;border-radius: 3px;background: #fff;padding: 0.1rem 0;color:#000;}
.carShadow{width: 3.7rem;position: absolute;bottom: 2.1rem;left: 0.9rem;opacity: 0.8;}

/* 座椅 */
.chairBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.1rem;background: url('../img/wish/weatherBox/car.png') no-repeat;background-position: center;background-size: cover;}
.chairBoxIcon01,.chairBoxIcon02,.chairBoxIcon03{position: absolute;top:2.5rem;left: 1.4rem;width: 0.4rem;}
.chairBoxIcon02{left:2.5rem ;}
.chairBoxIcon03{left: 3.5rem;}
.chairBoxIcon04,.chairBoxIcon05,.chairBoxIcon06{position: absolute;bottom: 1.5rem;left: 1.4rem;width: 0.4rem;}
.chairBoxIcon05{left:2.5rem ;}
.chairBoxIcon06{left: 3.5rem;}

/* 悬架 */
.suspensionBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.1rem;}
.suspensionBox1{width: 100%;height: 5rem;overflow: hidden;padding: 0.1rem 0 0 0.1rem;}
.suspensionBox1Left{width: 1.5rem;float: left;font-size: 0.2rem;}
.suspensionBox1Right{width: 3.5rem;float: right;height: 100%;position: relative;font-size: 0.2rem;}
.suspensionBox1Right span{position: absolute;top: 1rem;left: 0.2rem;}
.suspensionBox1Ul{border: 1px solid #dadada;border-radius: 5px;margin-bottom: 0.2rem;}
.suspensionBox1Ul li{padding: 0.05rem 0}
.suspensionBox1UlAstive{background: #becfe3;border-radius: 5px;}

.suspensionBox2{padding: 0 0 0 0.2rem;border-top: 1px solid #dadada;text-align: left; font-size: 0.2rem;}
.suspensionBox2 p{margin: 0.1rem 0 0.1rem 0;font-size: 0.2rem;} 
.suspensionBox2 ul {width: 2.4rem;color: #000;margin: 0.1rem 0;}
.suspensionBox2 ul li{width: 100%;    border: 1px solid #dadada;border-radius: 5px;text-align: center;padding: 0.1rem 0;}
.tyre{width:1.4rem;position: absolute;bottom: 0.75rem;left: 0.86rem;}
.carHarf{width: 100%;position: absolute;right: 0;bottom:1.3rem;}
/* 驾驶 */
.driveBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;padding: 0.1rem 0.15rem;color: #8f8f94;font-size:0.2rem;}
.driveBox1{width: 100%;height: 3.73rem;overflow: hidden;border-bottom: 1px solid #dadada;}
.driveBox1Left{float: left;width: 2.5rem;text-align: left;}
.driveBox1Right{float: right;width: 2.5rem;text-align: left;}
.driveBox1Ul{margin: 0.1rem 0;padding: 0;overflow: hidden;border: 1px solid #dadada;border-radius: 5px;color:#56575c;}
.driveBox1Ul li{float: left;width: 33.33%;text-align: center;padding: 0.1rem 0;}
.driveBoxActive{background: #2c7ada;color:#fff;border-radius: 5px;}
.driveBox1Left span{color:#2c7ada;;display: block;}
.driveBox1Left p,.driveBox1Right p{margin: 0.05rem 0;}
.driveBox1Right span{display: block;}
.driveBox1UlRight{padding: 0;margin: 0.1rem 0;;border: 1px solid #dadada;border-radius: 5px;}
.driveBox1UlRight li{width: 100%;color:#b5b6ba;border-radius: 5px;text-align: center;padding: 0.1rem 0;}
.driveBox1UlRight2{padding: 0;margin: 0.1rem 0;border: 1px solid #dadada;border-radius: 5px;overflow: hidden;}
.driveBox1UlRight2 li{float: left;width:50%;text-align: center;padding: 0.1rem 0;}

.driveBox2{width: 100%;height: 1.86rem;overflow: hidden;border-bottom: 1px solid #dadada;}
.driveBox2 p{margin-bottom: 3px;}
.driveBox2Left{float: left;width: 2.5rem;text-align: left;color: #56575c;}
.driveBox2Left span{color:#8f8f94 ;}
.driveBox2Right{float: right;width:2.3rem;text-align: left;color: #56575c;}

.driveBox3{width: 100%;height: 1.2rem;overflow: hidden;}
.driveBox3 p{margin-bottom: 3px;}
.driveBox3Left{float: left;width: 2.3rem;text-align: left;color: #56575c;}
.fontSize01{font-size: 0.16rem;}
/* 寒冷天气 */
.weatherBox{width: 5.45rem;height:7rem; background: #f8f8f8 url("../img/wish/weatherBox/car.png") no-repeat;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.2rem;    background-size: cover;background-position: center;}
.weatherBox span{position: absolute;bottom: 0.2rem;left: 0.2rem;border: 1px solid #dadada;border-radius: 5px;color: #000;background: #f8f8f8;padding: 0.1rem;}
/* 旅程 */
.journeyBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.2rem;padding: 0.2rem 0.1rem;}
.journeyBox table{width: 100%;}
.journeyBox tr{margin: 0.3rem 0;}
.journeyBox td{padding: 0.1rem 0;width: 33%;}
.tableTd01{text-align: left;}
.tableTd02{text-align: right;}
.tableTd01 input{vertical-align: middle;}
.journeyBoxUl{width: 100%;overflow: hidden;}
.journeyBoxUl li{width: 1.55rem;float: left;border: 1px solid #dadada;border-radius: 5px;color: #000;margin-left: 0.14rem;margin-top:0.3rem;padding: 10px;}
.journeyBoxUl li span{display: block;}
/* 显示 */
.showBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.2rem;padding: 0.1rem;}
.showBox p{text-align: left;margin-bottom: 3px;overflow: hidden;}
.autoLight{float: left;}
.autoAdjust{float: right;}    
.autoAdjust input{vertical-align: middle;}
.showBox1{width: 100%;border: 1px solid #dadada; border-radius: 5px;padding: 0.3rem;overflow: hidden;margin-bottom: 0.3rem;}
.mui-input-row{display: block;}
.mui-input-range input[type=range]{height: 0.6rem;background-color: #fff;border: 1px solid #dadada;margin: 0;}
.mui-input-range input[type='range']::-webkit-slider-thumb{border-radius: 3px;width: 0.8rem;height: 0.6rem;}
.mui-input-range .mui-tooltip{line-height: 20px;text-shadow:none;background-color:inherit;border:none;opacity:1;width: inherit;height: inherit;top: 0.1rem;color: #fff;z-index: 0;left: 90%;font-size: 0.2rem;}
.mui-hidden{display: block!important;}
.mui-input-row.mui-input-range{padding-right: 0;}

.showBox1Ul{width: 2.8rem;overflow: hidden;border: 1px solid #dadada;border-radius: 5px;margin: 0;padding: 0;float: left;color: #000;}
.showBox1Ul li{width: 33.33%;float: left;padding:0.1rem 0;}
.showBox1UlActive{background: #2c7ada;color: #fff;border-radius: 3px;}
.showBox1Ul2{width: 1.3rem;float: right;border: 1px solid #dadada;border-radius: 5px;}
.showBox1Ul2 li{padding: 0.1rem 0;}

.showBox2{border: 1px solid #dadada;border-radius: 5px;padding: 0.1rem;overflow: hidden;}
.showBox2Ul{width: 2rem;overflow: hidden;border: 1px solid #dadada;border-radius: 5px;margin-right: 0.3rem;}
.showBox2Ul li{float: left;width: 50%;padding: 0.1rem 0;}
.showBox2 input{vertical-align: middle;}
.showBox2 div{line-height: 0.5rem;padding: 0.1rem 0;}
/* 电源 */
.powerBox{width: 5.45rem;height:7rem; background: #f8f8f8;text-align: center;position: relative;overflow: hidden;border: 1px solid #dadada;border-radius: 8px;float: left;display: none;font-size:0.2rem;padding: 0.1rem;}
.powerBox p{margin-bottom:5px;padding: 0.1rem 0; }
.powerBox1{width: 100%;overflow: hidden;}
.powerBox1Left{width:2.5rem;margin-top: 0.3rem;}
.powerBox1Right{width: 2.4rem;margin: 0 auto;}
.powerBox1Right img{width: 2.5rem;}

.powerBox2{width: 3rem;border: 1px solid #dadada;border-radius: 5px;text-align: left;padding: 5px;margin-top: 10px;}
.powerBox2Btn{text-align: center;display: block;border: 1px solid #dadada;border-radius: 5px;background: #fff;padding: 5px 0;color: #000;}

.powerBox1P{border: 1px solid #dadada;border-radius: 3px;background: #98b3f4;color:#fff;padding: 5px ;}
.zhuche{border-bottom: 1px solid #dadada;}
.zhucheP{display: inline-block;width: 30px;height: 30px;background: #fff;border-radius: 50%;opacity: 0.5;line-height: 30px;}
.dangwei{border: 1px solid #dadada;background: #fff;width: 96%;border-radius: 3px;margin: 0 auto;padding: 0.2rem ;}
/* 第三块区域 */
.threePieces{width: 7rem;background: #f8f8f8;margin: 5% auto;border-radius: 10px;border: 1px solid #dadada;height: 5rem;position: relative;font-size:0.2rem;}

.deng01{width: 0.8rem;position: absolute;top: 0.15rem;left: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}
.deng01 img{vertical-align: middle;width:0.4rem;}

.deng02{width: 0.8rem;position: absolute;top: 0.15rem;right: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}
.deng02 img{vertical-align: middle;width: 0.4rem;}

.deng03{width: 1rem;position: absolute;top: 0.15rem;left: 1rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}

.deng04{width: 1rem;position: absolute;top:0.15rem;left: 2.1rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}

.deng05{width: 1rem;position: absolute;top: 1.5rem;left: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}
.deng05 img{vertical-align: middle;width: 0.3rem;}

.deng06{width: 1rem;position: absolute;top: 2.2rem;left: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}
.deng06 img{vertical-align: middle;width: 0.3rem;}

.deng07{width: 1.5rem;position: absolute;bottom: 0.2rem;right: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;padding:0.1rem 0px;}

.deng08{width: 4.5rem;position: absolute;bottom: 0.2rem;left: 0.15rem;background: #fff;border: 1px solid #dadada;text-align: center;border-radius: 5px;margin: 0;padding: 0;overflow: hidden;}
.deng08 img{vertical-align: middle;width: 0.5rem;}
.deng08_03 img{width: 0.35rem;}
.deng08 li{width: 25%;height: 100%;display: inline-block;float: left;}
.deng08_01,.deng08_02,.deng08_03,.deng08_04{width: 25%;display: inline-block;height: 100%;float: left;}
.mui-btn{border: none;padding: 0.1rem 0;font-size: 0.2rem;display: inline-block;width: 100%;line-height: inherit;}

.dengActive{background: #2c7ada;color:#fff;}
.dengActive2{background: #2c7ada;color:#fff;border-radius: 3px;}
.car4{width: 4.5rem;position: absolute;top:1.3rem;right: 0.5rem;}
.car4 img{width: 100%;}

/* 底部设置 */
.footerSeeting{width: 100%;background: #020202;color:#a6a6a6;padding: 5% 0;font-size: 0.1rem;}
.footerSeetingUl{width: 100%;overflow: hidden;padding: 0;margin: 0;height: 2rem;}
.footerSeetingUl li{width: 0.83rem;float: left;text-align: center;}

.icon01{width: 0.8rem;}
.icon02{width: 0.4rem;}
.icon03{width: 0.5rem;display: block;margin: 0.05rem auto 0.15rem;}
.icon04{width: 35%;}
.icon05{width: 0.5rem;}
.icon06{width: 0.5rem;}
.icon15{width: 0.17rem;}
.icon08{width: 0.5rem;display: block;margin: 0.5rem auto 0.05rem;}
.icon11{width: 0.4rem;}
.icon10{width: 0.5rem;display: block;margin: 0.05rem auto 0.15rem;}
.icon12{width: 0.5rem;display: block;margin: 0.4rem auto 0.4rem;}
.icon13{width: 0.5rem;}
.icon14{width: 0.5rem;}

.li1{margin: 0.5rem auto 0;position: relative;}
.li2{margin: 0.1rem auto 0;text-align: center;position: relative;color: #a6a6a6;}
.leftSeatTemperature{font-size: 0.2rem;position: absolute;top: 0.5rem;right:0.2rem;}
.li3,.li7{position: relative;}
.leftAirconditionTemperature{margin: 0.4rem 0 0.4rem 0;display: block;color: #353535;font-size: 0.3rem;}
.icon07{width: 0.7rem;display: block;margin:1.3rem auto 0;}
.li5{position: relative;margin: 5px auto 0;}
.li5 span{font-size: 0.15rem;color: #353535;}
.icon09{width: 0.7rem;display: block;margin:1.3rem  auto 0;}
.rightAirconditionTemperature{margin: 0.4rem 0 0.4rem 0;display: block;color: #353535;font-size: 0.3rem;}
.li8{margin: 5px auto 0;text-align: center;position: relative;color: #a6a6a6;}
.rightSeatTemperature{font-size: 0.2rem;position: absolute;top: 0.5rem;left:8px;}