body,html{font-size:1025%; }
.navClose{margin: 0 37% 0 5%;}
.electricity { width: 14%;   margin-left: 20%;}

.carTitle{font-size: 16px;}
.carBox,.chairBox,.suspensionBox,.driveBox,.weatherBox,.journeyBox,.showBox,.powerBox{height: 600px;}
.carTitle{height: 600px;}
.carTitleUl{height: 100%;}
.carTitleUl p{    line-height: 52px;}
.carTitleUl li {height: 12.5%;}
.car1, .car2, .car3,.car5{height: 505px;    }
.carDoorLeft{top: 65%;left: 5%;}
.carDoorLeft2{top:78%;left: 12%;}
.carDoorRight{top: 65%;right: 5%;}
.carDoorRight2{top: 78%;right: 12%;}
.driver{left: 14%;}
.copilot{right:15%}

.allClose{bottom:39%;width: 26%;left: 37%;padding:12px 0;}
.forward_box{bottom: 13%;width: 26%;left: 37%;padding:12px 0;}
.trunk{bottom:3%;width: 26%;left: 37%;padding:12px 0;}
.carShadow{width: 57%;bottom: 23%;left: 22%;}

.tyre{width: 33%;bottom: 11%;left: 37%;}
.carHarf{width: 84%;position: absolute;right: 0;bottom:26%}

.suspensionBox1{padding: 30px 0 0 30px;}
.suspensionBox2{    padding: 0 0 0 30px;}

.driveBox{padding: 30px 30px 0 30px;}
.journeyBox{padding: 30px 30px 0 30px;}
.showBox{padding: 30px 30px 0 30px;}
.powerBox{padding: 30px 30px 0 30px;}

.suspensionBox1Ul li{padding: 12px 0;}
.suspensionBox2 ul li{padding: 12px 0;}
.driveBox1{height: 47%;}
.driveBox2{margin: 10px 0;height: 28%;}
.driveBox3{height: 19%;}
.driveBox1Ul li{padding:12px 0;}
.driveBox1UlRight2 li{padding:12px 0;}
.driveBox1UlRight li{padding:12px 0;}
.journeyBox td{padding:12px 0;}
.showBox1Ul li,.showBox1Ul2 li,.showBox2Ul li{padding: 12px 0;}
.showBox1,.showBox2,.powerBox1P,.dangwei,.powerBox2Btn{padding: 20px;}
.powerBox p{padding: 15px 0;}
.driveBox1UlRight2{margin-top: 31px;margin-bottom: 10px;}
.journeyBoxUl li{padding: 12px 0;}
.showBox p,.driveBox1Left p,.driveBox1Right p{margin-bottom: 9px;}
.threePieces{height: 530px;}
.deng01{width: 6%;}
.deng02{width: 6%;}
.deng03{width: 10%;left: 11%;}
.deng04{width: 10%;left: 23%;}
.car4{top: 17%;}
.deng05{width: 11%;}
.deng05 img{width: 20%;}
.deng06{width: 11%;}
.deng06 img{width: 20%;}
.deng07{width: 17%;}
.deng08{width: 54%;}
.deng08 img{width: 35%;}
.deng08_03 img{width: 24%;}
.mui-btn{    padding: 8px 8px;}

.footerSeetingUl{height: 188px;}
.li1{margin: 50px auto 0;;}
.leftAirconditionTemperature{margin: 46% 0 50% 0;}
.rightAirconditionTemperature{margin: 46% 0 50% 0;}
.icon07,.icon09{margin: 100% auto 0;}
.leftSeatTemperature{font-size: 16px;position: absolute;top: 52px;right: 20px;}
.rightSeatTemperature{font-size: 16px;position: absolute;top: 52px;left: 20px;}
.icon12{margin: 42% auto;}
.li5 span{font-size: 14px;}
.icon08{margin: 50% auto 5px;}

.leftSeatTemperature{top: 40%; right: 26%;}
.rightSeatTemperature{top: 40%; left: 26%;}