.electricity{width: 1.3rem;}
.suspensionBox1Ul li{padding: 0.1rem 0;}
.carTitle{width: 1.2rem;}
.box{width: 5.8rem;}
.carTitleUl p{line-height: 0.68rem;}
.forward_box{bottom: 1.1rem;}
.driveBox1{height: 2.6rem;margin-bottom: 0.2rem;}
.driveBox2{margin-bottom: 0.2rem;}
.driver{bottom: 0.6rem;}
.copilot{bottom: 0.6rem;}

.allClose,.forward_box,.trunk{left: 1.8rem;}

.suspensionBox1{padding: 0.2rem 0 0 0.2rem;}
.driveBox{padding:0.2rem;}
.journeyBox{padding:0.2rem;}
.showBox{padding:0.2rem;}
.powerBox{padding:0.2rem;}
.showBox2 div{line-height: inherit;}

.chairBoxIcon01{left: 1.7rem;}
.chairBoxIcon02{left: 2.7rem;}
.chairBoxIcon03{left:3.7rem;}
.chairBoxIcon04{left: 1.7rem;}
.chairBoxIcon05{left: 2.7rem;}
.chairBoxIcon06{left:3.7rem;}

.deng01 img{width: 0.3rem;}
.deng02 img{width: 0.3rem;}
.deng05{top:1.6rem}
.deng05 img{width: 0.2rem;}
.deng06 img{width: 0.2rem;}
.deng08 img{width: 0.4rem;}
.deng08_03 img{width: 0.25rem;}

.powerBox2{width: 2.3rem;padding: 0.2rem;}
.powerBox1P{padding: 0.2rem;}
.showBox p{margin-bottom: 0.2rem;}
.showBox2{padding: 0.2rem;}
.mui-input-row.mui-input-range{margin-bottom: 0.2rem;}
.mui-input-range input[type=range]{height: 0.5rem;}
.mui-input-range input[type='range']::-webkit-slider-thumb{height: 0.5rem;}
.mui-input-range .mui-tooltip{line-height: 20px;top:0.15rem;}

.journeyBoxUl li{width: 30%;}