body,html{background-color: #fff;}
.mui-content{background-color: #fff;}
.carBox{width: 100%;height:300px; #fff;text-align: center;position: relative;overflow: hidden;}
.carDoorLeft{width: 10%;position: absolute;top: 180px;left: 20px;z-index: 2;}
.carDoorLeft2{width: 10%;position: absolute;top: 250px;left: 20px;z-index: 2;}
.carDoorRight{width: 10%;position: absolute;top: 180px;right: 20px;z-index: 2;}
.carDoorRight2{width: 10%;position: absolute;top: 250px;right: 20px;z-index: 2;}
.car1{z-index: 1;}
.car1,.car2,.car3{width: 100%;position: absolute;top: 0px;left: 0;height: 300px;background-image:url(../img/wish/left/leftwingdoor0000.png) ;background-size: contain;background-repeat: no-repeat;}
.leftDoor{width: 70%;position: absolute;top: 100px;left: 15%;display: none;}
.rightDoor{width: 70%;position: absolute;top: 100px;left: 15%;opacity: 0;}

